body {
  background:#0f172a;
  color:white;
  font-family:Arial;
  text-align:center;
}

input, button {
  padding:8px;
  margin:4px;
  border-radius:8px;
  border:none;
}

button {
  background:#2563eb;
  color:white;
  cursor:pointer;
}

#chatBox {
  height:160px;
  overflow:auto;
  background:#020617;
  margin:8px;
  padding:6px;
  border-radius:8px;
  text-align:left;
}

ul {
  list-style:none;
  padding:0;
}

li {
  background:#1e293b;
  margin:4px;
  padding:6px;
  border-radius:8px;
  cursor:pointer;
}

.top {
  background:#020617;
  padding:8px;
  border-radius:8px;
}
