body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}

button {
  background: #2563eb;
  color: white;
  cursor: pointer;
}

#log {
  margin-top: 20px;
}
